@import '~@/assets/css/var';
@import '~@/assets/css/fonts';

$radius: 48px;

.subscribe {
  position: relative;
  z-index: 1;

  color: $dark;
  text-align: center;

  background: $yellow;
  border-radius: $radius;
  box-shadow: 0 0 1px 1px $yellow;

  max-width: 864px;
  margin: auto;

  padding: 48px;

  @media #{$tablet}, #{$tablet-landscape} {
    max-width: 650px;
  }
  @media #{$mobile}, #{$mobile-landscape} {
    max-width: 500px;
    padding: 24px;
  }
}

h2 {
  @include h2;

  padding: 0 48px;

  margin-bottom: 32px;

  @media #{$mobile}, #{$mobile-landscape} {
    padding: 0;
    margin-bottom: 16px;
  }
}
p {
  @include text;

  margin-bottom: 32px;

  @media #{$mobile}, #{$mobile-landscape} {
    margin-bottom: 16px;
  }
}
a {
  color: $dark;
  @include input;
  opacity: 0.5;
}

form {
  position: relative;
}

input {
  color: $white;
  @include input;
  font-weight: bold;

  border: 0;
  background: $dark;

  width: 100%;
  height: 96px;

  padding: 0 $radius;

  border-radius: $radius;

  outline: 0;

  &::placeholder {
    color: $white;
    opacity: 0.25;
    text-align: center;
  }

  @media #{$tablet}, #{$tablet-landscape} {
    height: 48px;
    margin-bottom: 16px;
    text-align: center;
  }
}

button {
  cursor: pointer;

  top: 0;
  right: 12px;
  bottom: 0;
  position: absolute;

  color: $dark;
  @include input;
  font-weight: bold;

  background: $white;

  height: 72px;

  margin: auto;
  padding: 0 24px;

  outline: 0;
  border: 0;
  border-radius: $radius;

  &:disabled {
    cursor: default;

    color: rgba($dark, 0.2);
  }

  @media #{$tablet}, #{$tablet-landscape} {
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    position: relative;

    height: 48px;
  }
}

.isNotValid {
  @include text;

  margin-top: 10px;
}

form.error input {
  color: $error;
}
