@import '~@/assets/css/var';

h2 {
  @include h2;
  margin-bottom: 32px;

  @media #{$tablet} {
    margin-bottom: 16px;
  }
}

p {
  @include text;
  margin-bottom: 0;
}

.step1 {
  position: relative;
  display: flex;

  margin-bottom: 177px;
  padding-bottom: 114px;

  @media #{$tablet} {
    display: block;
    margin-left: -24px;
    margin-right: -24px;
    margin-bottom: 143px;
  }

  @media #{$mobile} {
    margin-bottom: 198px;
  }
}
.step1 > div {
  width: 50%;
  padding-right: 50px;

  @media #{$tablet} {
    width: 100%;
    padding: 0;
  }

  &:last-child > div {
    padding-left: 50px;

    @media #{$tablet} {
      padding: 0;
    }
  }
}

.step1 .image {
  padding: 0 85px;
  text-align: center;
  background: $yellow;

  border-radius: 0 0 48px 48px;

  @media #{$laptop} {
    padding: 0 70px;
  }

  @media #{$tablet} {
    min-height: 148px;
    border-radius: 0 0 24px 24px;
  }
}

.step1 .image-scroll {
  @media #{$tablet} {
    top: 33px;
    right: 96px;
    bottom: auto;
    position: absolute;
  }
  @media #{$mobile} {
    right: -87px;
  }
}

.step1 .image img {
  position: relative;
  z-index: 1;

  width: auto;
  max-width: 100%;
  margin-top: 76px;
  margin-bottom: -138px;

  box-shadow: 0 8px 32px rgba(16, 19, 64, 0.5);

  border-radius: 56px;

  @media #{$laptop} {
    border-radius: 35px;
  }

  @media #{$tablet} {
    top: 0;
    position: sticky;

    margin: 0;

    max-height: 464px;
  }
}

.step1 .content {
  padding-top: 82px;

  @media #{$tablet} {
    margin-left: 96px;
    margin-top: 33px;
    max-width: 285px;
  }
  @media #{$mobile} {
    width: 50%;
    margin-left: 24px;
  }
}
.step1 .content .logo {
  display: flex;
  margin-left: -16px;
  margin-bottom: 58px;

  @media #{$tablet} {
    display: block;
    top: 56px;
    left: 96px;
    right: auto;
    position: absolute;

    width: 154px;
    height: 56px;

    margin: 0;
  }
  @media #{$mobile} {
    left: 24px;
  }
}
.step1 .content .logo img {
  @media #{$tablet} {
    margin: 0;
    text-align: left;
    justify-self: flex-start;

    width: auto;
    max-width: 100%;
  }
}

.step1 .content h1 {
  @include h1;
  margin-bottom: 32px;

  @media #{$tablet} {
    margin-bottom: 24px;
  }
}
.step1 .content p {
  @include text;
  margin-bottom: 48px;

  @media #{$tablet} {
    margin-bottom: 90px;
  }
}

@keyframes bounce {
  from {
    transform: translate3d(0, -3px, 0);
  }
  to {
    transform: translate3d(0, 7px, 0);
  }
}
.step1 .content .scroll {
  display: flex;
  align-items: center;

  color: $white;
  @include scrolltext;

  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  @media #{$laptop} {
    line-height: 2;
  }

  @media #{$tablet} {
    left: 0;
    right: 0;
    position: absolute;

    @include text;
    flex-direction: column-reverse;
  }
}

.step1 .content .scroll .scroll-arrow {
  flex: 0 0 auto;
  position: relative;

  width: 48px;
  height: 48px;

  background: rgba($white, 0.25);

  overflow: hidden;
  border-radius: 50%;

  @media #{$mobile}, #{$tablet} {
    width: 24px;
    height: 24px;
    background: $white;
  }

  &::after {
    top: 2px;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;

    content: '';

    background: url('~@/assets/img/arrow.svg') 50% no-repeat;

    animation: bounce 0.6s;
    animation-direction: alternate;
    animation-iteration-count: infinite;

    @media #{$mobile}, #{$tablet} {
      background-size: 12px;
      animation: none;
    }
  }
}
.step1 .content .scroll span {
  margin-left: 24px;

  @media #{$mobile}, #{$tablet} {
    margin-left: 0;
    margin-bottom: 12px;
  }
}

.step2 {
  position: relative;

  display: flex;
  justify-content: center;
  margin-bottom: 291px;

  @media #{$tablet} {
    margin-bottom: 245px;
  }
}
.step2 .bg {
  top: 0;
  left: -48px;
  right: -48px;
  bottom: 0;
  position: absolute;
  z-index: 0;

  @media #{$tablet} {
    left: -24px;
    right: -24px;
  }
}
.step2 .bg1 {
  top: -75px;
  left: 1080px;
  position: absolute;

  width: 1135px;
  height: 96px;

  background: url('~@/assets/img/Group_54.svg') 0 50% no-repeat;

  @media #{$laptop} {
    top: -96px;
    left: 54.0364583333333%;
    right: auto;
    bottom: auto;

    width: 567px;
    height: 48px;
    background-size: contain;
  }
  @media #{$mobile} {
    left: 87px;
  }
}
.step2 .bg2 {
  top: 147px;
  left: -243px;
  position: absolute;

  width: 552px;
  height: 110px;

  background: url('~@/assets/img/Group_53.svg') 100% 50% no-repeat;

  @media #{$laptop} {
    top: auto;
    left: -1px;
    right: auto;
    bottom: -96px;

    width: 249px;
    height: 48px;
    background-size: contain;
  }
}
.step2 .bg3 {
  top: auto;
  left: 997px;
  right: auto;
  bottom: -188px;
  position: absolute;

  width: 751px;
  height: 96px;

  background: url('~@/assets/img/Group_52.svg') 0 50% no-repeat;

  @media #{$laptop} {
    left: 67.578125%;
    bottom: -192px;

    width: 371px;
    height: 48px;
    background-size: contain;
  }
  @media #{$mobile} {
    left: 191px;
  }
}
.step2 .content {
  position: relative;
  z-index: 1;

  max-width: 576px;
  background: $energy;
  padding: 48px;
  border-radius: 48px;

  @media #{$tablet} {
    position: static;
    max-width: 476px;
    padding: 24px;
    border-radius: 24px;
  }
}

.step3 {
  position: relative;

  display: flex;
  justify-content: space-between;
  margin-bottom: 291px;

  padding-right: 48px;

  @media #{$tablet} {
    padding-right: 72px;
    margin-bottom: 144px;
  }

  @media #{$mobile} {
    flex-direction: column;
    margin-bottom: 133px;
    padding-right: 0;
  }
}
.step3 > div {
  width: 50%;

  @media #{$tablet} {
    max-width: 476px;
    margin: auto;
  }

  @media #{$mobile} {
    width: 100%;
  }
}
.step3 .bg {
  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
  padding-right: 58px;

  @media #{$mobile} {
    margin-bottom: 37px;
    padding-right: 0;
  }
}
.step3 .content {
  position: relative;
  z-index: 1;

  max-width: 576px;
  background: $health;

  padding: 48px;
  border-radius: 48px;

  @media #{$tablet} {
    padding: 24px;
    border-radius: 24px;
  }
}

.step4 {
  position: relative;
  margin-bottom: 215px;

  @media #{$tablet} {
    margin-bottom: 143px;
  }
  @media #{$mobile} {
    margin-bottom: 133px;
  }
}
.step4 .bg {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 0;
}
.step4 .bg1 {
  left: 61px;
  bottom: -305px;
  position: absolute;

  width: 362px;
  height: 358px;

  background: url('~@/assets/img/Vector.svg') no-repeat;

  @media #{$tablet} {
    left: auto;
    bottom: -165px;
    right: 145px;

    background-size: contain;

    width: 268px;
    height: 253px;
  }

  @media #{$mobile} {
    display: none;
  }
}
.step4 .bg2 {
  top: -290px;
  left: 0;
  right: 0;
  position: absolute;

  margin: auto;

  width: 412px;
  height: 367px;

  transform: translate3d(100px, 0, 0);

  background: url('~@/assets/img/Vector-1.svg') no-repeat;

  @media #{$tablet} {
    top: -115px;
    left: -15px;
    right: auto;

    background-size: contain;

    width: 268px;
    height: 228px;

    transform: translate3d(0, 0, 0);
  }

  @media #{$mobile} {
    left: 0;
    right: 0;
  }
}
.step4 .bg3 {
  right: -104px;
  bottom: -121px;
  position: absolute;

  width: 418px;
  height: 418px;

  background: url('~@/assets/img/Vector-2.svg') no-repeat;

  @media #{$tablet} {
    top: -104px;
    left: auto;
    right: -121px;

    background-size: contain;

    width: 268px;
    height: 256px;
  }

  @media #{$mobile} {
    display: none;
  }
}

.step4 .list {
  text-align: center;
}

.step4 .list-items {
  position: relative;
  z-index: 1;

  display: inline-block;
  white-space: nowrap;
  text-align: left;

  margin: auto;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  padding-left: 48px;
  padding-right: 48px;

  @media #{$mobile} {
    margin: 0;
    padding-left: 24px;
    padding-right: 24px;
  }
}
.step4 .list-items > div {
  display: inline-block;
  vertical-align: top;
  white-space: normal;

  margin-left: 48px;

  @media #{$laptop} {
    margin-left: 24px;
  }

  &:first-child {
    margin-left: 0;
  }

  img {
    @media #{$laptop} {
      height: 460px;
    }
  }
}
.step4 .list-items > div:first-child {
  max-width: 576px;
  background: $mind;
  padding: 48px;
  border-radius: 48px;

  @media #{$laptop} {
    max-width: 280px;
  }

  @media #{$tablet} {
    max-width: 215px;
    padding: 24px;
    border-radius: 24px;
  }
}
