@font-face {
  font-family: 'TT Norms';
  src: url('~@/assets/fonts/TTNorms-Regular.woff2') format('woff2'),
    url('~@/assets/fonts/TTNorms-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url('~@/assets/fonts/TTNorms-Bold.woff2') format('woff2'),
    url('~@/assets/fonts/TTNorms-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@function remy($pxsize) {
  @return ($pxsize/16) + rem;
}

@mixin h1 {
  font-size: remy(72);
  line-height: 1;

  @media #{$tablet}, #{$tablet-landscape}, #{$iPadPro} {
    font-size: remy(40);
  }
}
@mixin h2 {
  font-size: remy(72);
  line-height: 1;

  @media #{$tablet}, #{$tablet-landscape}, #{$iPadPro} {
    font-size: remy(32);
  }
}

@mixin text {
  font-size: remy(20);
  line-height: 2; // 40

  @media #{$tablet}, #{$tablet-landscape}, #{$iPadPro} {
    font-size: remy(14);
    line-height: 1.666666666666667; // 20
  }
}

@mixin scrolltext {
  font-size: remy(14);
  line-height: 1.5;
}

@mixin input {
  font-size: remy(32);
  line-height: 1.5;

  @media #{$tablet}, #{$tablet-landscape}, #{$iPadPro} {
    font-size: remy(16);
  }
}

@mixin footer {
  font-size: remy(14);
  line-height: 1.428571428571429;

  @media #{$tablet}, #{$tablet-landscape}, #{$iPadPro} {
    font-size: remy(14);
    line-height: 1.714285714285714;
  }
}

@mixin copyright {
  font-size: remy(14);
  line-height: 1.428571428571429;

  @media #{$tablet}, #{$tablet-landscape}, #{$iPadPro} {
    font-size: remy(10);
    line-height: 1.6;
  }
}
