@import 'var';
@import 'native';
@import 'fonts';

body {
  color: $white;
  background: $dark;

  margin: 0;
  overscroll-behavior: none;
}

.overflow {
  overflow: hidden;
}

.wrapper {
  position: relative;

  max-width: 1440px;
  margin: auto;

  padding: 0 48px;

  @media #{$tablet} {
    padding: 0 24px;
  }
}

h1 {
  @include h1;
}

h2 {
  @include h2;
}

p {
  @include text;
}

img {
  width: auto;
  max-width: 100%;
}
