/* media width */
$small: 'only screen and (max-width: 575px)';
$mobile: 'only screen and (max-width: 767px)';
$tablet: 'only screen and (max-width: 991px)';
$laptop: 'only screen and (max-width: 1199px)';

/* Color palette */

$dark: #0f0a30;
$energy: #1a25e0;
$health: #6006ae;
$mind: #85c598;
$yellow: #ebc447;
$green: #03291f;
$white: #fff;
$black: #000;
$error: #ff5757;
