/* media width */
$small: 'only screen and (max-width: 575px)';
$mobile: 'only screen and (max-width: 749px)';
$tablet: 'only screen and (max-width: 991px)';
$laptop: 'only screen and (max-width: 1199px)';

/* Color palette */

$dark: #0f0a30;
$energy: #1a25e0;
$health: #6006ae;
$mind: #85c598;
$yellow: #ebc447;
$green: #03291f;
$white: #fff;
$black: #000;
$error: #ff5757;

/* mixins */
@function remy($pxsize) {
  @return ($pxsize/16) + rem;
}

@mixin h1 {
  font-size: remy(72);
  line-height: 1;

  @media #{$laptop} {
    font-size: remy(40);
  }
}
@mixin h2 {
  font-size: remy(72);
  line-height: 1;

  @media #{$laptop} {
    font-size: remy(32);
  }
}

@mixin text {
  font-size: remy(20);
  line-height: 2; // 40

  @media #{$laptop} {
    font-size: remy(14);
    line-height: 1.666666666666667; // 20
  }
}

@mixin scrolltext {
  font-size: remy(14);
  line-height: 1.5;
}

@mixin input {
  font-size: remy(32);
  line-height: 1.5;

  @media #{$laptop} {
    font-size: remy(16);
  }
}

@mixin footer {
  font-size: remy(14);
  line-height: 1.428571428571429;

  @media #{$laptop} {
    font-size: remy(14);
    line-height: 1.714285714285714;
  }
}

@mixin copyright {
  font-size: remy(14);
  line-height: 1.428571428571429;

  @media #{$laptop} {
    font-size: remy(10);
    line-height: 1.6;
  }
}
